/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rajdhani:wght@500;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Rajdhani', sans-serif; */

/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;outline: none;text-decoration: none;}
button::-moz-focus-inner{padding: 0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}



/* Переменные */
:root{
	--color1: #FF2E63;
	--color2: #346CD9;
	--color3: #252A34;
	--color4: #343434;
	--color5: #999999;
}

/* Контейнер */


.container {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #fff;
}
.header::before{
	content:'';
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 96px;
	align-items: center;
}
.header__logo {
	color: var(--color3);
	font-weight: bold;
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 0.05em;
	position: relative;
	z-index: 3;
}
.header__logo span{
	color: rgb(239, 0, 0);
	text-transform: uppercase;
}
.header__burger {
	width: 24px;
	height: 24px;
	background-color: var(--color1);
	border-radius:5px;
	position: relative;
	display: none;
}
.burger__line{
	position: absolute;
	width: 16px;
	height: 3px;
	border-radius: 50px;
	background-color: #fff;
	transition: all .3s ease 0s;
}
.line1{
	top: 4px;
	right: 4px;
}
.line2,
.line3{
	top: 10px;
	right: 4px;
}
.line4{
	top: 16px;
	right: 4px;
}
.header__list {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}
.header__list li{
	margin: 0px 0px 0px 30px;
}
.header__link {
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	color: #252A34;
	line-height: 19px;
}
.header__link:hover{
	color:#000;
	opacity: .5;
}
.register__panel {
	display: flex;
	align-items: center;
	align-content: center;
	margin-left: 50px;
}
.btn {
	display: inline-block;
	background-color: var(--color1);
	padding: 9px 23px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 16px;
	color: white;
	line-height: 22px;
	transition: all .3s ease;
}
.btn:hover{
	background-color: #fff;
	color:var(--color1);
}
.btn:active {
	color: #bd264c;
}
.login{
	margin-right: 10px;
	padding: 9px 32px;
}
	




/* Обложка Title */




.title {
	padding-top: 96px;
}
.title__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info__title h1{
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	color: var(--color4)
}
.info__title span{
	color: var(--color1);
}
.info__button {
	color:#fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
	margin-top: 33px;
	background-color: var(--color2);
	border-radius:5px;
	line-height: 22px;
}
.info__button:hover{
	background-color: rgba(52,108,217,0.9);
}
.info__foto {
	display: block;
	width: 100%;
}



/* Block1 */



.block1{
	margin-top: 76px;
}
h2{
	font-family: 'Rajdhani', sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: var(--color4);
}
h3{
	font-family: 'Rajdhani';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: var(--color3);
}
.items{
	margin-top: 40px;
	/* display: flex; */
	justify-content: space-between;
	flex-wrap: wrap;
}
.item {
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	max-width: 270px;
	position: relative;
}
.item img{
	display: block;
	max-width: 100%;
	border-radius: 10px 10px 0 0;
}
.item__title {
	padding: 20px 0 0 20px;
}
.item__price {
	font-family: 'Rajdhani';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 38px;
	color: var(--color1);
	padding: 0 0 0 20px;
}
.item__price span{
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	text-decoration-line: line-through;
	color: var(--color5);
	padding: 0 0 0 7px;
}
.item__info {
	font-size: 14px;
	line-height: 19px;
	color: var(--color4);
	padding: 0 0 15px 20px;
}
.strela{
	display: block;
	width: 40px;
	height: 40px;
	background-color: var(--color2);
	border-radius: 10px 0 10px 0;
	position: absolute;
	bottom: 0;
	right: 0;
}
.strela:hover {
	border-top: 1px solid var(--color2);
	border-bottom: 1px solid var(--color2);
	background-color:rgba(52,108,217,0.8);
}
.arrow__small{
	display: block;
	width: 18px;
	height: 2px;
	/* top: 19px; */
	background-color: #ffffff;
	position: relative;
	border-radius:50px;
	margin: 0 auto;
}
.arrow__small::before,
.arrow__small::after{
  content: ' ';
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  border-radius:50px;
}
.arrow__small::before{
	top: 3px;
	left: 8.5px;
	transform: rotate(-40deg);
 }
 .arrow__small::after{
	bottom: 3px;
	left: 8.5px;
	transform: rotate(40deg);
 }




/* Block2 */




.block2 {
	margin-top: 85px;
}
.block2__title {
	text-align: center;
}
.steps {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	justify-content: space-between;
}
.step__item {
	text-align: center;
	max-width: 250px;
}
/* arrow start */
.arrow-works{
	display: block;
	width: 32px;
	height: 3px;
	top: 30px;
	background-color: #585858;
	position: relative;
	border-radius:50px;
	margin: 0 auto;
 }
 .arrow-works::before,
 .arrow-works::after{
	content: ' ';
	width: 16px;
	height: 3px;
	background-color: #585858;
	position: absolute;
	border-radius:50px;
 }
 .arrow-works::before{
	top: 5px;
	left: 18px;
	transform: rotate(-45deg);
 }
 .arrow-works::after{
	bottom: 5px;
	left: 18px;
	transform: rotate(45deg);
 }
 /* arrow stop */
.step__text {
	margin-top: 30px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: var(--color4);
	padding: 0 5px;
}
.step__text span{
	font-weight: 600;
}



/* Block 3 */


.nlo{
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	margin-top: 100px;
	background-color: rgba(52, 108, 217, 0.12);
}
.container22{
	overflow: hidden;
}
.flex__slider{
	display: flex;
	align-items: center;
}
.slider22__item{
	max-width: 400px;
	height: 100%;
	margin: 34px 10% 30px 10%;
}
.slider3 .slick-dots{
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 5%;
	left: 22%;
}
.slider3 .slick-dots li{
	list-style: none;
	margin: 0 10px;
}
.slider3 .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: rgba(255, 46, 99, 0.33);
	border-radius:50%;
}
.slider3 .slick-dots li.slick-active button{
	background-color: var(--color1);
}
.about__text {
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: var(--color4);
}
.about__avtor {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: var(--color4);
	margin-top: 20px;
}
.about__foto img{
	width: 100%;
}



/* block4 */



.block4{
	margin: 100px auto;
}
.item__info-win{
	padding: 7px 20px 20px;
}



/* footer */



.footer{
	width: 100%;
	height: 100px;
	background-color: var(--color2);
}
.footer__logo{
	color:#fff;
	text-transform: uppercase;
}
.footer__link{
	color:white;
}
.footer__body{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}
.footer__list{
	display: flex;
	flex-wrap:wrap;
}
.footer__list li{
	margin: 0px 0px 0px 30px;
}


